.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: var(--color-bg);
}

.navbar{
  background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 83, 119, 1) 0%, rgba(0, 27, 45, 1) 100%);

  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 83, 119, 1) 0%, rgba(0, 27, 45, 1) 100%);

  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 83, 119, 1) 0%, rgba(0, 27, 45, 1) 100%);

  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 83, 119, 1) 0%, rgba(0, 27, 45, 1) 100%);

  background:radial-gradient(circle at 3% 25%, rgba(0, 83, 119, 1) 0%, rgba(0, 27, 45, 1) 100%);

  position: absolute;
  left:0;
  right:0;
  bottom: 0;
  height: 80px;
  width: 100%;
  
}

.footer {
  background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 83, 119, 1) 0%, rgba(0, 27, 45, 1) 100%);

  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 83, 119, 1) 0%, rgba(0, 27, 45, 1) 100%);

  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 83, 119, 1) 0%, rgba(0, 27, 45, 1) 100%);

  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 83, 119, 1) 0%, rgba(0, 27, 45, 1) 100%);

  background:radial-gradient(circle at 3% 25%, rgba(0, 83, 119, 1) 0%, rgba(0, 27, 45, 1) 100%);
  
  position: absolute;
  left:0;
  right:0;
  bottom: 0;
  width: 100%;
  height: 80px;
  text-align: center;
  color: white;
}

.main{
  background-color: white;
}
